.hero{
 
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.left{
  font-size: 25px;
  flex: 1;
  padding: 60px;
}

h1{
  margin-bottom: 30px;
}

button{
  background-color: #458FF6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 45px;
  cursor: pointer;
  margin-top: 50px;
}

.learn{
  color: #458FF6;
  border: 2px solid #458FF6;
  background-color: #fbfbfb;
}

.image-section-one{
  margin: 30px 45px 60px 85px ;
}

.right{
  margin-left: 20px;
}